
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron p-4 p-md-5 rounded bg-dark" id="mainJumbotron">
    <div class="col-md-6 px-0 mb-5">
        <h1 class="display-4 font-italic"> <span class="bg-white px-3">Veterinaria Safret </span></h1>
        <p class="lead my-3 text-white">Cuidamos lo que amas</p>
    </div>
</div>

    </div>

<main role="main" class="container">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/img/cat-4269479_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Servicio de confianza</h5>
                        <p class="card-text">Nuestros servicios estan respandados por más de 20 años de experiencia en el cuidado y la protección de animales de todo tipo, confia en nosotros, sabemos bien lo que tenemos que hacer :).</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/img/animal-1868436_640.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Con grandes capacidades</h5>
                        <p class="card-text">No solo somos capaces de atender las necesidades de las mascotas mas comunes, sino que contamos con personal capacitado para atender a cualquier integrante del reino animal.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/img/hedgehog-468228_640.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Como si estuvieras presente</h5>
                        <p class="card-text">Nuestra plataforma online te permite hacer un seguiemiento de todos nuestros servicios, este seguimeinto se actualiza en tiempo real por lo que siempres sabrás que es lo que esta pasando.</p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.row -->

</main><!-- /.container -->
