#mainJumbotron {
    background-image: url("img/adorable-1850465_1280.jpg");
    background-attachment:fixed;
    background-position-y: center;
}

#ContactJumbotron {
    background-image: url("img/adorable2-3344414_1280.jpg");
    background-attachment:fixed;
    min-height:45vh;
    background-position-y: bottom;
}