@{
    ViewBag.Title = "Sobre nosotros";
}
</div>

    <div class="container">

        <h3 class="mb-4">Sobre nosotros</h3>


        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/Content/img/pug.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Veterinaria Safret</h5>
                        <h6>Nuestra misión</h6>
                        <p class="card-text">Tenemos el objetivo de proporcionar servicios integrales de la más alta calidad para las mascotas a través de sistemas preventivos, emergentes y de medicina interna para así mejorar la salud de las personas incrementando la relación Humano-Animal.</p>
                        <p class="card-text">Con nosotros podrás contar con un Hospital Veterinario de Especialidades, con  sucursales en todo México.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
