@{
    ViewBag.Title = "Contáctanos";
}

</div>

    <div class="container">
        <div class="jumbotron p-4 p-md-5 rounded bg-dark" id="ContactJumbotron">
            <div class="col-md-6 px-0 mb-5">
            </div>
        </div>
    </div>

    <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datos de contacto</h5>
                        <address>
                            Tomas aquino<br />
                            Calz. Tecnológico 600<br />
                            <abbr title="Teléfono">Tel:</abbr>
                            (664) 109-0279
                        </address>
                        <address>
                            <strong>Soporte:</strong>   <a href="mailto:Support@safret.com">Support@safret.com</a><br />
                            <strong>Ventas:</strong> <a href="mailto:Marketing@safret.com">Marketing@safret.com</a>
                        </address>
                        <p class="card-text">Estamos a tu servicio.</p>
                    </div>
                </div>
    </div>