@{
    ViewBag.Title = "Acerca de";
}

<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <span>Sobre nosotros</span>
            <h2>Sobre nosotros</h2>
            <p>Somos una empresa comprometida con el medio ambiente y con el software eficiente y de calidad, aportamos soluciones creativas en bazadas en una amplia gana de conomientos tanto matematicos como multidiciplinarios.</p>
        </div>
    </div>
</section>
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="text-center">
            <h3>Comprometidos con la sociedad</h3>
            <p> En NetSoft compartimos el objetivo de millones de personas de hacer un mundo mejor y somos conscientes de que, como empresa, nuestras acciones tienen una gran influencia en la sociedad. Por esta razón, desde Interbel participamos activamente en programas e iniciativas que contribuyen a la consecución de objetivos sociales que versan sobre la sociedad y el medio ambiente.</p>
            <a class="cta-btn" href="#">Participar</a>
        </div>

    </div>
</section><!-- End Cta Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <span>El equipo</span>
            <h2>El equipo</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="assets/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>
                        Experto en seguridad informatica y administración de proyectos
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="assets/img/team/team-2.jpg" alt="">
                    <h4>Sarah Jhinson</h4>
                    <span>Product Manager</span>
                    <p>
                        Publicista talentosa de espíritu libre, con un amor inmarcesible por los gatos y la literatura
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="assets/img/team/team-3.jpg" alt="">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>
                        Matemático con un doctorado en complejidad computacional, apasionado del data analytics desde hace 20 años
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->